@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    font-family: 'Poppins', sans-serif;
}

img {
    max-width: 100%;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.header {
    display: flex;
    align-items: center;
    min-height: 80vh;
    background-color: #f5f5f5;
    padding: 70px;
}

.menu {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    font-size: 25px;
    color: #111111;
    text-transform: uppercase;
    font-weight: 800;
}

.menu .navber ul li {
    position: relative;
    float: left;
}

.menu .navber ul li a {
    font-size: 18px;
    padding: 20px;
    color: #111111;
    display: block;
}

#menu {
    display: none;
}

.menu-icono {
    width: 25px;
}

.menu label {
    cursor: pointer;
    display: none;
}

.submenu {
    position: relative;
}

.submenu #carrito {
    display: none;
}

.submenu:hover #carrito {
    display: block;
    position: absolute;
    right: 0;
    background-filter: blur(10px);
    top: 100%;
    z-index: 1;
    background-color: #4e4e4e;
    padding: 20px;
    min-height: 400px;
}

table {
    width: 100%;
}

th, td {
    color: #FFFFFF;
}

.borrar {
    background-color: #111111;
    border-radius: 50%;
    padding: 5px 10px;
    text-decoration: none;
    color: #FFFFFF;
    font-weight: 800;
    cursor: pointer;
}

.producto img {
    width: 100%;
    height: auto;
    border-radius: 15px;
    transition: transform 0.3s ease-in-out;
}

.producto img:hover {
    transform: scale(1.06);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
}

.productos-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.producto {
    text-align: center;
    padding: 15px;
    border: 3px solid #000000;
    border-radius: 15px;
    background-color: #fff;
    transition: box-shadow 0.3s ease-in-out;
}

.producto:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Estilos para los botones */
.producto .botones {
    display: flex; /* Alinea los botones en horizontal */
    gap: 10px; /* Espacio entre los botones */
    justify-content: center; /* Centra los botones horizontalmente */
    margin-top: 10px; /* Espacio arriba de los botones */
}

.btn-detalle, .btn-agregar {
    display: inline-block;
    padding: 10px 15px;
    border: 2px solid black;
    background-color: white;
    color: black;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    border-radius: 5px;
}

.btn-detalle:hover, .btn-agregar:hover {
    background-color: black;
    color: white;
    border: 2px solid black;
}


